
html {
  width:auto;
}

body {
  width:auto;
  height:auto;
  background: linear-gradient(-225deg, #2CD8D5 0%, #C5C1FF 56%, #FFBAC3 100%);
  color:white;
}

.container {
  font-family: 'arial', sans-serif;
  text-align: center;
}

.content {
  margin:20px;
}

.title {
  margin:30px;
  font-family: 'Montserrat Subrayada', sans-serif;
}

.subtitle {
  border-bottom:solid 1px white;
  padding-bottom:50px;
}

.login {
  display: inline-block;
  padding:5px 5px;
  border:solid 3px white;
  border-radius:10px;
  transition: all 1s;
}

.register {
  display: inline-block;
  margin-left:5px;
  padding:5px 5px;
  border:solid 3px white;
  border-radius:10px;
  transition: all 1s;
}

.login :hover{
  background-color: black;
  cursor: pointer;
}


.how_to_play {
  margin:30px;
}

.how_to_play h3{
  display: inline-block;
  border-bottom:solid 1px white;
  padding-bottom:5px;
}

.stats {
  margin-bottom:60px;
}

.stats h3 {
  display: inline-block;
  border-bottom:solid 1px white;
  padding-bottom:5px;
}
