
.container {
  width:cover;
  font-family: 'arial', sans-serif;
  text-align: center;
  background-imge:url(carl-raw-8Gdayy2Lhi0-unsplash.jpg);
}

.container2 {

}

.content {
  margin:80px;
  background-color:
  background-image: url(carl-raw-8Gdayy2Lhi0-unsplash.jpg);
}

.login {
  margin-top:50px
}

.title {
  margin:30px;
  font-family: 'Montserrat Subrayada', sans-serif;
}

.how_to_play {
  margin:50px;
  background-color:
}
