
body {
  width:cover;
  background-image:url(background.jpg);
}

.container {
  width:100%;
  font-family: 'arial', sans-serif;
  text-align: center;
}

.container2 {

}

.content {
  margin:80px;
}

.title {
  margin:30px;
  font-family: 'Montserrat Subrayada', sans-serif;
}

.login {
  margin-top:50px;
  background-color: blue;
}


.how_to_play {
  margin:50px;
}
